/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.padding{
  font-size: large;
}

input{
  border: 2px solid black;
  border-radius: 10%;
  height: 4vh;
}


button{
  border: 2px solid black;
  height: 4vh;
  width: auto;
  border-radius: 10%;
}
